
<table class="table">
  <thead  style="background-color:#47c9af;">
  <tr>
    <th style="color:white">Invoice Id</th>
    <th style="color:white">Supplier Invoice ID</th>
    <th style="color:white">Supplier Name</th>
    <th style="color:white">Total Purchase</th>
    <th style="color:white">Balance Due Amount</th>

    <th style="color:white">Status</th>

    <th style="color:white">Invoice Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <td>{{ book.Number }}</td>
    <td>{{ book.SupplierInvoiceNumber }}</td>
    <td>{{ book.Supplier.Name }}</td>

    <td>{{book.TotalAmount}}</td>

    <td>{{book.BalanceDueAmount}}</td>
    <td>{{book.Status}}</td>

    <td>{{ book.Date }}</td>
    <td><a>Edit</a></td>
  </tr>
  </tbody>
</table>
