
<div >

  <table class="table table-dark table-striped">
    <thead style="background-color:#47c9af;">
      <tr>
        <th style="color:white">Name</th>
        <th style="color:white">BalanceDueAmount</th>
        <th style="color:white">Date</th>
        <th style="color:white">Status</th>
        <th style="color:white">Invoice Id</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <input class="form-control" type="text" name="search" [(ngModel)]="filter">
    <tr *ngFor="let book of books | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 10,
                                                      currentPage: page,
                                                      totalItems: totalRec } |  filter:filter; let i = index">
        <td>{{ book.Customer.Name }}</td>
        <td>{{ book.BalanceDueAmount }}</td>
        <td>{{ book.Date }}</td>
       <td>{{book.Status}}</td>

<td>{{book.Number}}</td>
        <td><a routerLink='/sale/{{book.UID}}'>Edit</a></td>
      </tr>







    </tbody>

  </table>

  <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>

